.btn {
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  display: block;

  &:focus {
    outline: none;
  }

  &.active {
    background-color: #bb1c1c;
  }
}
