@import './_functions';
@import './mixins';

.main {
  background-color: orange;

  h1 {
    background-color: getDarken(#666);
    @include round(20px, '', 15px, 8px);
    font-size: getPart(200, 5);
    position: relative;

    &:before {
      @include triangle(down, 50px, 50px, red);
      right: 50%;
      top: 100%;
    }
  }

  time {
    font-size: 30px;
  }
}

@for $i from 1 through 10 {

  .width-#{$i} {
    width: $i * 10%;
  }
}

@for $i from 1 through 20 {

  li:nth-child(#{$i}) {
    background-color: rgb(random(255), random(255), random(255));
  }
}
