.form {
  display: flex;
  flex-direction: column;

  input,
  select {
    margin-bottom: 10px;
    border: 1px solid #000;
    padding: 10px 10px;
    outline: none;

    &.error {
      border-color: red;
    }

    &.correct {
      border-color: green;
    }
  }
}