.nav-tab {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    a {
      display: block;
      padding: 10px 15px;
      background-color: #eee;
      transition: all .3s;

      &.active {
        color: #fff;
        background-color: #000;
      }
    }
  }
}