.edit-text {

  span {
    cursor: pointer;
  }

  input,
  textarea {
    outline: none;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 5px 5px;
  }

  textarea {
    resize: none;
    height: 60px;
  }
}