.info-categories {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #000;

  span {
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  a {
    text-decoration: underline;
  }
}
