.nav {
  
  ul {
    display: flex;
    align-items: center;
    margin: 0 -15px;

    li {
      padding: 0 15px;
    }

    a {
      color: #fff;

      &:hover {
        color: var(--grey);
      }
    }
  }
}