.nav {
  
  &__list {
    display: flex;
    align-items: center;
    margin: 0 -15px;
  }

  &__item {
    padding: 0 20px;

    a {
      color: var(--purple);
      font-size: 18px;

      &.active {
        color: #000;
        text-decoration: underline;
      }

      &:hover {
        color: var(--grey);
      }
    }
  }
}