.categories {

  &__wrap {
    display: flex;
  }

  &__col {
    width: 50%;

    h4 {
      margin: 0 0 20px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    &-item {
      margin-bottom: 10px;
      padding: 0 15px;
      width: 33.33%;

      a {

        &:hover {
          color: var(--purple);
        }
      }
    }
  }
}
