.header {
  background-color: #fff;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  &__logo {

    img {
      width: 40px;
    }
  }

  &__controll {
    display: flex;
    align-items: center;

    &-item {
      position: relative;
      padding: 0 10px;

      &:before {
        position: absolute;
        content: '/';
        top: 0;
        right: -5px;
      }
  
      &:last-child {
  
        &:before {
          display: none;
        }
      }
    }
    }
}
