.header {
  background-color: var(--purple);

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  &__logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;

    &:hover {
      color: #fff;
    }
  }

  &__phone {
    font-weight: 700;
    font-size: 24px;

    &:hover {
      color: #fff;
    }
  }
}
