.header {
  background-color: var(--purple);

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  &__logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;

    &:hover {
      color: #fff;
    }
  }

  &__controll {
    display: flex;
    align-items: center;

    &-item {
      position: relative;
      padding: 0 10px;

      &:before {
        position: absolute;
        content: '/';
        top: 0;
        right: -5px;
      }
  
      &:last-child {
  
        &:before {
          display: none;
        }
      }
    }
    }
}
