.footer {
  background-color: var(--grey);

  &__copyright {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    text-align: center;
  }
}
