@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  margin: 0;
  font-size: var(--main-fz);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

html {
  min-height: 100vh;
}

.wrapper {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--grey);
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

input {
  width: 100%;
  display: block;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border-radius: 3px;
  border: 1px solid #000;

  &:focus {
    border-color: var(--purple);
  }
}

.btn {
  width: 100%;
  display: block;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  text-align: center;

  &:hover {
    background-color: var(--purple);
    border-color: var(--purple);
  }
}